ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: blue;
    list-style: none;
    height: 50px;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
}
.target{
    color: cornflowerblue;

}
.tr{
    color: orange;
   }