/*.App {*/
/*  text-align: center;*/
/*}*/
/*.App-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/
/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/
/*.App-header {*/
/*  background-color: #282c34;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/

/*.App-link {*/
/*  color: #61dafb;*/
/*}*/
/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/
.wrap{
display: flex;
}

.WrapColumn{
    display: flex;
    flex-direction: column;
}

.CenT{
justify-content: center;
    align-items: center;
}

.itemUsers{
    width: 25%;
    background-color: darkcyan;
}

.usersInfo{
    width: 100%;
    background-color: lightgrey;
    padding: 5px;
     }

.usersPosts{
    width: 80%;
    padding: 0;
    background-color: silver;
}

.fixDiv70{
    position: fixed;
       /*overflow: hidden;*/
    width: 70%;
}

.fixDiv40{
    position: fixed;
    overflow: hidden;
    width: 40%;
}

.showOn{
    display: block;
}

.showOff{
    display:none ;
}
.usersPostsFull{
    width: 100%;
    padding: 1px ;
    background-color: silver;
}
.GOTo{
    background-color: darkseagreen;
    font-size: large;
    }
.linkHome{
    font-size: 30px;
   text-align: center;
    color: darkblue;
    background-color: darkorange;
    height: 200px;
}

.CounterBtn{
    width: 75px;
height: 50px;
    display: flex;
    align-items: center;
}
.CounterWrap{
    display: flex;
    width: 400px;
    height: 50px;
}